h1 {
  color: #a59bbd;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.272);
}

h3 {
  color: #3c224d;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

p {
  color: #573e68;
  font-weight: 600;
}
#homepage-title {
  background-color: whitesmoke;
  padding-top: 90px; /* Altezza della navbar */
}

/* Se la navbar ha altezza maggiore su mobile, aumentiamo il padding */
@media (max-width: 768px) {
  #homepage-container {
    padding-top: 110px;
  }
}

#container-cards {
  background-color: whitesmoke;
}

#homepage-info {
  background-color: whitesmoke;
}
#homepage-volontier {
  background-color: whitesmoke;
}

#col-custom-first {
  background-color: #82786ad4;
  transition: all 0.3s ease;
  border: 2px solid #fcd53f;
}
#card-title-first {
  color: #fcd53f;
  font-weight: bold;
}
#col-custom-first:hover {
  transform: scale(1.03);
}

#col-custom-second {
  background-color: #ffd900b2;
  transition: all 0.3s ease;
  border: 2px solid rgb(13, 127, 219);
}
#card-title-second {
  color: rgb(13, 127, 219);
  font-weight: bold;
}
#col-custom-second:hover {
  transform: scale(1.03);
}

#col-custom-third {
  background-color: #a563ccd3;
  transition: all 0.3s ease;
  border: 2px solid #3c224d;
}
#card-title-third {
  color: antiquewhite;
  font-weight: bold;
}
#col-custom-third:hover {
  transform: scale(1.03);
}

#btn-card-first {
  background-color: #fcd53f;
  color: #82786ad4;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
}
#btn-card-second {
  background-color: rgb(13, 127, 219);
  color: #fcd53f;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
}
#btn-card-third {
  background-color: whitesmoke;
  color: #a563ccd3;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
}

#btn-card-first:hover {
  transform: scale(1.03);
  box-shadow: 3px 4px rgba(0, 0, 0, 0.29);
}
#btn-card-second:hover {
  transform: scale(1.03);
  box-shadow: 3px 4px rgba(0, 0, 0, 0.29);
}
#btn-card-third:hover {
  transform: scale(1.03);
  box-shadow: 3px 4px rgba(0, 0, 0, 0.29);
}
