.card-ospedali {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-ospedali:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 22px #3c224d;
}

.ospedale-title {
  color: #3c224d;
}
